[Desktop Entry]
Name=Sala do Futuro
Exec=sala-do-futuro-webapp
Type=Application
StartupNotify=true
Icon=sala-do-futuro-webapp
StartupWMClass=dev.heppen.webapps.webview
Categories=X-COSMIC;Education;Utility;
Keywords=Sala;Futuro;Educação;Ensino;WebApp;
Comment=Aplicativo web para a Sala do Futuro - Pop!_OS COSMIC
